@import "footer.css";
/*spacers */
.top.spacer{
    height: 60px;
}
/* news */
.post{
    margin-bottom: 10px;
}
.textarea.input{
    width: 675px;
}
/* endof news */

/* forms */
.filter-form{
    display: inline-block;
}

.form-errors{
    color: red;
}
.control-group.required > label::before{
    content: "(*) ";
    color: #666;
    font-size: 8pt;
}
.control-group.required > label:hover:before{
    color: red;
}
.control-group > .errorlist{
    margin-left: 180px;
    color: #b94a48;
    list-style-type: none;
}
