{% extends base %} {% load i18n %}
{% block content %}
<form class='form-horizontal control' id='login-form' action='{% url "accounts:login" %}' method='POST'>
    {% csrf_token %}
    {% trans "Login" as login_text %}
    {% include "forms/bootstrap_horizontal.html" %}
    {% if form.errors %}
    <div class='form-group'>
      <label class='control-label col-lg-2'></label>
      <div class='col-lg-10'>
        <a class='btn btn-primary'
           href='{% url "accounts:password-restore-initiate" %}'>{% trans "Forgot password?" %}</a>
        <button type='submit' class='btn btn-default'>{% trans "Login" %}</button>
      </div>
    </div>
    {% endif %}
</form>
{% endblock %}
