{% extends base %} {% load i18n %}
{% block content %}
<form class='form-horizontal control' id='login-form' action='{% url "accounts:login" %}' method='POST'>
    {% csrf_token %}
    {% trans "Login" as login_text %}
    {% include "forms/bootstrap_horizontal.html" %}
    {% include "forms/submit.html" with class="btn btn-primary" submit_text=login_text %}
    {% if form.errors %}
        <a class='btn btn-inverse'
           href='{% url "accounts:password-restore-initiate" %}'>{% trans "Forgot password?" %}</a>
    {% endif %}
</form>
{% endblock %}
