{% extends base %} {% load i18n %}
{% block content %}
    <h3>{% trans "Password change" %}</h3>

    <form class='form-horizontal' id='' method='POST' action='{% url "accounts:password-change" %}'>
      {% csrf_token %}
        {% include "forms/bootstrap_horizontal.html" with form=form %}
        <div class='form-group'>
          <label class='control-label col-lg-2'></label>
          <div class='col-lg-10'>
            <input type='submit' class='btn btn-primary' value='{% trans "Change" %}'>
          </div>
        </div>
    </form>
{% endblock %}
