<!DOCTYPE html>
<html lang="en">
<head>{% load i18n static %}
{% block css %}
<link rel='stylesheet' href='{% static "components/select2/select2.css" %}'>
<link rel='stylesheet' href='{% static "css/bootstrap.css" %}' media='screen'>
<link rel='stylesheet' href='{% static "css/whhg.css" %}' media='screen'>

{% endblock %}
{% block js %}
<script type='text/javascript' src='{% static "components/jquery/dist/jquery.min.js" %}'></script>
<script type='text/javascript' src='{% static "components/bootstrap/dist/js/bootstrap.min.js" %}'></script>
<script type='text/javascript' src='{% static "components/select2/select2.min.js" %}'></script>

{% endblock %}
</head>
<body>
<div class='wrapper' id='wrap'>

<header class="navbar navbar-default">
    <div class="container">
        <div class='navbar-header'>
            <a class="navbar-brand" href="{% url "core:index" %}">.template</a>
            <button class="navbar-toggle" type='button'
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class='collapse navbar-collapse'>
            <ul class='nav navbar-nav pull-right'>
                {% if not user.is_authenticated %}
                <li><a href="{% url "accounts:login" %}">{% trans "Login" %}</a></li>
                {% else %}
                <li class='dropdown'>
                  <a class='btn btn-black dropdown-toggle' data-toggle='dropdown' href='#'>
                  <i class='icon-user'></i>
                    {{ user.username }}
                  <i class='caret'></i></a>
                  <ul class='dropdown-menu'>
                        <li><a href='{{ user.get_profile_url }}'>{% trans "View profile" %}</a></li>
                        <li class='divider'>&nbsp;</li>
                        <li><a href='{% url "accounts:logout" %}'>{% trans "Logout" %}</a></li>
                  </ul>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

<div class='container'>
{% block content %}{% endblock %}
</div>
<div id='push'></div>
</div> <!-- wrap -->
<div id='footer'>
    {% trans "footer" %} &copy; 2012-{% now "Y" %}
</div>
</body>
<!-- noty -->
<script type="text/javascript" src='{% static "components/noty/js/noty/jquery.noty.js" %}'></script>
<script type="text/javascript" src='{% static "components/noty/js/noty/promise.js" %}'></script>

<script type="text/javascript" src='{% static "components/noty/js/noty/layouts/top.js" %}'></script>
<script type="text/javascript" src='{% static "components/noty/js/noty/layouts/topLeft.js" %}'></script>
<script type="text/javascript" src='{% static "components/noty/js/noty/layouts/topRight.js" %}'></script>
<script type="text/javascript" src='{% static "components/noty/js/noty/layouts/topCenter.js" %}'></script>
<script type="text/javascript" src='{% static "components/noty/js/noty/layouts/center.js" %}'></script>
<script type="text/javascript" src='{% static "components/noty/js/noty/themes/default.js" %}'></script>
<script type="text/javascript" src='{% static "js/noty/themes/override.js" %}'></script>

{% block endjs %}{% endblock %}
<script type='text/javascript'>
$(document).ready(function(){
    $("[rel=tooltip]").tooltip({live: true});
    $("[rel=select2]").select2();
{% block js_document_ready %}{% endblock %}
});
</script>

</html>
