{% extends base %} {% load i18n tz %}
{% block content %}
    <h3><i class='icon-batman'></i> I am batman.
      It's {{ current_date|timezone:"America/New_York"|time:"H:i" }} in Gotham now</h3>
    <div class='col-lg-5'>
        <strong>{% trans "Choose any option" %}</strong>
        <select name='test' id='id_test' rel='select2' class='chosen form-control'>
            <option value='1'>{% trans "First choice" %}</option>
            <option value='2'>{% trans "Second choice" %}</option>
        </select>

        <div style='height: 20px;'></div>
        <strong>{% trans "Please type any registered username" %}</strong>
        <br />
    </div>
{% endblock %}
